#navbar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

hr.solid {
    border-top: 2px solid #999;
}

#headingOne  {
    cursor: pointer;
}



#headingTwo {
    cursor: pointer;
}

hr {
    color: seashell;
    size: 30rem;
}

#projectHr {
    color: seashell;
    size: 30rem;
}

body {
    background: url(../images/IMG1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: seashell;
    font-family: 'Comic Neue', cursive;
    font-size: 1.6rem;
}


.carousel {
  width:640px;
  height:360px;
}

