#navbar {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}


body {
    background: url(../images/IMG1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.carousel {
  width:640px;
  height:360px;
}

.jumbotron  {
    background-color: brown;
    margin-bottom: 0;
}